html {
    background-color: #1d3557;
}

table {
    border-collapse: collapse;
    border: 0;
    border-color: #1d3557;
    width: 1300px;
    height: 1080px;
    margin: auto;
    text-align: left;
    overflow: auto;
}

.headline_row {
    background-color: #f1faee;
    height: 80px;
}

.right_column {
    width: 900px;
    height: 1000px;
    background-color: #a8dadc;
    vertical-align: top;
    text-align: left;
    overflow: auto;
    position: sticky;
}

.left_column {
    width: 400px;
    background-color: #457b9d;
    height: 1000px;
    text-align: left;
    vertical-align: top;
    overflow: scroll;
    position: fixed;
}

.btn_create_note, .btn_delete_note {
    margin: 8px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(212, 75, 56);
    padding: .7em 1.5em;
    outline: none;
}

.btn_create_note:hover, .btn_delete_note:hover {
    background: rgb(232, 95, 76);
}

.btn_create_note:active, .btn_delete_note:active {
    background: rgb(152, 15, 0);
}

.Notes {
    margin: 8px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #99ADFF;
    padding-left: 0.7em;
    padding-top: 1.5em;
    outline: none;
    height: 70px;
}

.Notes:hover {
    background: #C2CEFF;
}

.Notes:active {
    background: #708DFF;
}

#noteDIV {
    padding: .7em 1.5em;
    text-align: left;
    vertical-align: top;
}

#noteField {
    width: 800px;
    height: 500px;
    overflow: auto;
    resize: unset;
    font-size: 18px;
    font-family: Courier New;
    font-weight: 900;
}

.active_Note {
    margin: 8px;
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #8a0000;
    padding-left: 0.7em;
    padding-top: 3em;
    outline: none;
    height: 100px;
    font-size: 18px;
}